#saveButton {
  border-radius: 5px;
  background-color: yellow;
}

.incorrecto,
.correcto {
  border: 1px solid black;
  background-color: #e6e6e6;
}

.correcto {
  border-color: green;
}

.incorrecto {
  border-color: red;
}

.job_name {
  background-color: lightblue;
}

.creator {
  background-color: grey;
}

.description {
  background-color: pink;
}

.email_creator {
  background-color: orange;
}

.province {
  background-color: lime;
}

.payment {
  background-color: silver;
}

.category {
  background-color: yellowgreen;
}

.expired_at {
  background-color: antiquewhite;
}

