$colorInput: yellow;
$correctInput: green;
$incorrectInput: red;

$inputMap: (job_name:lightblue,creator:grey,description:pink,email_creator:orange,province:lime,payment:silver,category:yellowgreen,expired_at:antiquewhite);
