@import 'variables';

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

#saveButton{
  @include border-radius(5px);
  background-color: $colorInput;
}

%border-Hereditary{
  border: 1px solid black;
  background-color:  #e6e6e6;
}

.correcto{
  @extend %border-Hereditary;
  border-color: $correctInput;
}

.incorrecto{
  @extend %border-Hereditary;
  border-color: $incorrectInput;
}

@each $input,$color in $inputMap{
  .#{$input}{
    background-color: $color;
  }
}
